spring.datasource.name=FluigDS
spring.datasource.username=${database.user}
spring.datasource.password=${database.password}
spring.datasource.url=${database.url}
spring.datasource.driver-class-name=${database.driver}
spring.jpa.properties.hibernate.dialect=${hibernate.dialect}

ro.spring.datasource.name=FluigDSRO
ro.spring.datasource.username=${database.user}
ro.spring.datasource.password=${database.password}
ro.spring.datasource.url=${database.url}
ro.spring.datasource.driver-class-name=${database.driver}
ro.spring.jpa.properties.hibernate.dialect=${hibernate.dialect}

#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true